/* GENERAL*/

* {
    padding: 0;
    margin: 0;
}

body {
    /*background: url("sourceimageBW.jpg");
    background-size: cover;
    background-repeat: no-repeat;*/
    font-family: 'Gloria Hallelujah', cursive;
    background-color: #eee;
}
/* Home Screen */

/* Form layout*/

.addForm {
    clear: right;
    display: inline-block;
    background-color: #FFD700;
    /*position: fixed;*/
    width: 100%;
    padding: 20px 10px;
    text-align: center;
    margin-top: 10px;
}

.addForm input {
    border: 5px inset rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    outline: none;
}

#buttons {
    margin-top: 50px;
}

#addButton {
    font-size: 30px;
    background-color: black;
    padding: 10px 20px;
    color: white;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
}

#addButton:hover {
    color: black;
    background-color:#1000FF;
}

.buttons:focus{
    transform: translateY(4px);
}

.addForm input:focus {
    box-shadow: 0 4px 8px 0 #1000FF, 0 6px 20px 0 #1000FF;
}

#trackAllButton, #untrackAllButton {
    border: none;
    background-color: transparent;
    outline:none;
    cursor: pointer;
    margin: 0 10px;
    font-family: inherit;
    font-size: 1.5em;
}

#trackAllButton:hover, #untrackAllButton:hover {
    background-color: #1000FF;
    border-radius: 50%;

}

/*.divider {
    height: 20px;
    background: linear-gradient(#FFD700, #eee);
}*/

/*Message board*/

aside {
    font-family: 'VT323', monospace;
    width: 50%;
    height: 50px;
    overflow-y: auto;
    /*border: 1px dashed black;*/
    background-color: transparent;
    margin: 0 auto;
    text-align: center;
    /*box-shadow: 5px -5px 5px green, -5px 5px 5px green;*/
}

#messageBoard {
    font-size: 24px;
    letter-spacing: .2em;
    line-height: 50px;
    color: transparent;
    border-radius: 10px;
    animation-name: fade;
    animation-duration: 3s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}


/* Beaver List*/

#beaverList {
    width: 50%;
    margin: 10px auto 20px auto;
    /*border: 1px solid black;*/
    list-style: none;
    font-size: 1em;
    background: radial-gradient(rgba(255, 255, 255, 0.3),transparent);
    /*background-color: whitesmoke;*/
    /*opacity: 0.2;*/
}

#beaverList > li {
    padding: 10px 0 10px 20px;
    text-align: center;
}

#beaverList > li > span {
    display: block;
}

.buttons  {
    /*width: 50px;*/
    font-size: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0 10px;
    cursor: pointer;
    /*position: relative;
    top: -45px;*/
}

#beaverList > li > .locationButtons > i, #beaverList > li > .trackButtons > i {
    text-align: center;
}

.buttons:hover {
    background-color: #FFD700;
    border-radius: 50%;
}

hr {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr:before{
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px
}

/*.locationInput {
    display: none;
}*/
/* Map */

#map {
    text-align: center;
}

#mapHolder {
    margin: 10px auto;
}

.collapsed {
    width: 50%;
    height: 0;
    transition: height 3s ease-in-out;
}

.expand {
    height: 400px;
    /*transition: all 3s ease-in-out;*/
}

.mapButton {
    width: 205px;
    margin: 0 auto;
    background-color: transparent;
    font-family: inherit; 
    border: none;
    outline: none;  
    font-size: larger;  
    cursor: pointer;
}


/* Animation */

@keyframes fade {
    from {background-color: transparent;
          color: transparent}
    to {background-color: #1000FF;
        color: #FFD700};
}

/* Profile View */

/* Nav */

nav {
    background-color: #703915;
}

/* profile*/

.profileBody {
    background-color: #A6753A;
}

.profile {
    float: left;
    width: 25%;
    max-height: 500px;
    padding: 10px;
    /*border-right: 3px solid #703915;
    border-bottom: 3px solid #703915;*/
    background-color: #547016;
    border-bottom-right-radius: 20px;
}

#profilePic {
    /*width: 100%;*/
    height: 200px;
    display: block;
    margin: 5px auto;
}

.profileList {
    width: 60%;
    margin: 5px auto;
    list-style: none;
    padding: 5px;
}

.profileList .editButtons {
    margin-left: 5px;
}

.profileList > li {
    display: block;
}

.profileList .textInput {
    width: 150px;
    margin-right: 10px;
}

.textInput::-webkit-input-placeholder{
    color: black;
}

.profileList .buttons {
    padding: 0;
    vertical-align: middle;
}

/* Galleries*/

.gallery {
    width: 25%;
    padding: 10px;
}

.allGallery {
    float: right;
    width: 25%;
    /*border-left: 3px solid #703915;
    border-bottom: 3px solid #703915;*/
    padding: 10px;
    background-color: #547016;
    border-bottom-left-radius: 20px;
}

.allGallery .container {
    position: relative;
    left: 90px;
}

.pics {
    width: 30%;
    display: inline-block;
    margin: 5px;
}

.friendButtons {
    position: relative;
    left: -45px;
    top: -7px;
}

.profileBtn {
    position: relative;
    top: -7px;
    left: 36px;
}

.messageButtons {
    position:relative;
    left: -46px;
    top: -64px;
}

.unfriendButtons {
    position: relative;
    top: -7px;
    left: -92px;
}

.statusBox{
    display: inline-flex;
    margin-left: 46px;  
}

.textInput {
    border: none;
    outline: none;
    width: 80%;
    height: 35px;
    border-bottom-left-radius: 10px;
    background-color: #A6753A;
    border: 2px solid #703915;
    color: black;
    padding-left: 10px;
    font-family: inherit;
    /*font-size: larger;*/
}

/* Messsage Area */

#messageArea {
    position: absolute;
    left: 400px;
    width: 40%;
}

.messageBox {
    text-align: left;
    width: 80%;
    margin: 10px 0;
}

.messageTitle {
    padding: 5px;
    background-color: rgba(255, 255, 175, 0.3);
    border-left: 3px solid #703915;
}

.messages {
    display: inline;
}

.requestForm {
    background-color:  #547016; 
}

.requestForm label{
    margin: 5px;
}

#submitButton {
    vertical-align: middle;
}

input[type="radio"]{
    display: none;
}

input[type="radio"] + label span{
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: 5px 10px 5px 0;
    vertical-align: middle;
    cursor: pointer;
    border: 5px solid #000;
    border-radius: 10px;
}

input[type="radio"]:checked + label span {
    background-color: gold;
}

/* Conversation Area */
#conversationArea {
    width: 80%;
    height: 200px;
    margin: 10px auto 0 auto;
    background-color: #547016;
    overflow-y: scroll;
}

#conversationArea::-webkit-scrollbar{
    width: 10px;
}

/*#conversationArea::-webkit-scrollbar-button{
    background-color: green;
}*/

#conversationArea::-webkit-scrollbar-thumb{
    background-color: #703915;  
    border-radius: 5px;
}

#conversationArea .messageBox {
    /*text-align: left;*/
    width: 80%;
    margin: -5px 0;
    display: inline-flex;
}

#conversationArea .messageBox .messageTitle {
    margin: 10px 0;
    border: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    /*width: 90%;*/
}
.exitButtons{
    float: right;
}

.exitButtons:hover {
    background-color: red;
}

.textInputForm{
    width: 80%;
    margin: 0 auto;
    background-color: rgba(84,112,22, 0.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.textInputForm .addTextButtons {
    vertical-align: middle;
    margin-left: 15px;
    /*background-color: #703915;*/
    border-radius: 50%;
}

.textInputForm .textInput {
    border: none;
    outline: none;
    width: 80%;
    height: 35px;
    border-bottom-left-radius: 10px;
    background-color: inherit;
    padding-left: 10px;
    font-family: inherit;
    font-size: larger;
}